html {
  /* Maintains the footer */
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding-bottom: 42px;
  margin-top: 0px;
  /* Fixes the footer */
  min-height: 100%;
  height: stretch;
}

h1 {
  font-family: 'Baloo Chettan', cursive;
}

p {
  font-size: 16px;
}

ul {
  height: 50px;
  line-height: 50px;
  padding: auto;
  font-size: 18px;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.link-dotted, .link-dotted:hover, .link-dotted:active, .link-dotted:visited {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #ff9966;
}

.img-logo {
  margin-bottom: 5px;
  margin-top: 5px;
}

.messages {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: .5%;
  margin-bottom: .5%;
}

.header {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.header.row {
  margin-bottom: 1%;
}

.bg-gradient {
  /* Gradient for Safari and Chrome, plain color for unsupported browsers */
  background: #ff9966;
  background: -webkit-linear-gradient(to right, #ff9966, #ff5e62);
  background: linear-gradient(to right, #ff9966, #ff5e62);
  color: white;
  text-align: center;
}

.color-shadow {
  color: 333333;
  text-shadow: 2px 2px #ff9966;
}

.space {
  letter-spacing: 1px;
}

.navbar-brand, .navbar-brand:hover, navbar-brand:active, .navbar-brand:focus {
  color: white;
  font-family: 'Baloo Chettan', cursive;
  font-size: 40px;
}

.nav-name.navbar-right {
  margin-right: 10px;
}

.card-header {
  text-align: center;
  margin-bottom: 10%;
}

.banner {
  padding-top: 1%;
  padding-bottom: 0%;
}

#nav {
  padding-left: 30px;
  padding-right: 30px;
}

.homegif {
  margin-top: 3%;
  margin-bottom: 3%;
}

.description {
  /* Styling for home page description */
  margin-top: 3%;
  margin-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

.card {
  font-family: 'Roboto', sans-serif;
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: #333333;
  padding: 10px;
}

.card-pressed {
  font-family: 'Roboto', sans-serif;
  border-radius: 12px;
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.8);
  background-color: #333333;
  color: #333333;
  padding: 10px;
}

.card-center {
  margin: auto;
  margin-top: 3%;
  width: 30%;
  padding: 2%;
}

.card-stack {
  /* Assigned to cards stacked over each other (rankings, appfun) */
  margin: auto;
  margin-top: 1%;
  width: 60%;
  padding: 2%;
}

.card-letter {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-weight: 900;
  vertical-align: middle;
}

.card-letters {
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  width:100%;
  height:100%;
  display:inline-block;
  box-orient:horizontal;
  box-pack:center;
  box-align:center;
}

.card-animate {
  /* Animation for Safari, Firefox, IE, and Chrome */
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.card-animate:hover {
  box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
  /* Animation for Safari, Firefox, IE, and Chrome */
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.home-btns {
  /* For buttons on home and categories page */
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-bottom: 2%;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Roboto', sans-serif;
  width: 125px;
  border-radius: 30px;
  box-sizing: border-box;
  border-width: 2px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  line-height: 2;
  /* Button fill animation for Safari, Mozilla, IE, and Chrome */
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn-block {
  margin-left: 0px;
  margin-right: 0px;
  color: #FFFFFF;
  background-color: #333333;
}

.btn-block:hover, .btn-block:active, .btn-block:focus {
  color: #FFFFFF;
}

.btn-default {
  background-color: white;
}

.btn-outline {
  border-color: #FFFFFF;
  color: #FFFFFF;
  opacity: 1;
}

.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
  background-color: #FFFFFF;
  color: #403D39;
  border-color: #FFFFFF;
}

.btn-icon {
  line-height: 1.8;
  width: 45px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.text-round {
  border-radius: 30px;
  padding: 20px;
}

.form-control:focus {
  /* Orange glow border for text fields */
  border-color: #ff9966;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255,153,102,0.6);
}

.img-container {
    float: none;
    margin: 0 auto;
    display: inline-block;
}

.thumbnails {
  padding-bottom: 10px;
}

.thumbnail {
  /* Squares the GIFS */
  object-fit: cover;
  width: 180px;
  height: 180px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.flag-overlay {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #FFFFFF;
}


.footer {
  position: absolute;
  bottom: 0;
  padding-top: 1rem;
  text-align: center;
  color: white;
  background-color: #333333;
  width: 100%;
  margin: 0;
}
