<!--xx4
Shannon Lau, Tiffany Moi, Joyce Wu, Helen Ye
SoftDev pd7
P02 - Jimmy Jams -->

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Jimmy Jams{% endblock title %}</title>
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Karla|Roboto" rel="stylesheet">
  <link rel="icon" href="../static/img/favicon.png">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    {% block scripts %} {% endblock scripts %}
  <!-- <script src="../static/js/jquery-3.2.1.min.js"></script> -->
</head>
<body class="{% block bodyclass %}bg-navy{% endblock bodyclass %}">
  {% block nav %}
  <div class="container-fluid banner">
    <nav class="navbar">
      <div class="container" id="nav">
        <a href="/" class="navbar-left" style="margin-right:15px;"><img class="img-logo" src="../static/img/logo.png" width="40" height="40"></a>
        <div class="navbar-header">
          <a class="navbar-brand" href="/">JIMMY JAMS</a>
        </div>
        <!-- <div class="navbar-right">
          {% if logged_in %}
          <a class="btn btn-outline btn-icon" href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
          {% else %}
          <a class="btn btn-outline btn-icon" href="/login"><span class="glyphicon glyphicon-log-in"></span></a>
          {% endif %}
        </div> -->

        <ul class="nav navbar-nav navbar-right nav-name">
          {% block right_nav %}
	  <li class="nav-item space">
	    <div class="dropdown">
	      <button class="dropdown-toggle btn btn-block-yellow" style="width:200px" type="button" data-toggle="dropdown"><b>COLLABORATOR MODE</b>
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li class="text-center" style="width:200px"><a href="/signup"><b>HOST MODE</b></a></li>
  </ul>
</div>
	  </li>
          {% endblock right_nav %}
        </ul>
      </div>
    </nav>
  {% endblock nav %}

  {% block alerts %}
  {% with msgs = get_flashed_messages() %}
  <div class="messages">
    {% for msg in msgs %}
    <div class="alert alert-warning alert-dismissable" role="alert">
      {{ msg }}
    </div>
    {% endfor %}
  </div>
  {% endwith %}
  {% endblock alerts %}

  {% block content %}
  {% endblock content %}

  {% block enddiv %}
</div> <!--DONT DELETE VERY IMPORTANT-->
  {% endblock enddiv %}

  <div class="footer container-fluid text-center">
    <p>Made with love by <a class="link-dotted" href="https://github.com/slau8/xx4">xx4</a></p>
  </div>
  {% block script %}
  {% endblock script %}
</body>
</html>
