{% extends "base.html" %}

{% block content %}
<h1 class="color-shadow text-center"><b>Welcome to Jimmy Jams</b></h1>
<div class="card card-center">
  <h1 class="card-header">Start Jamming</h1>
  <form action="/enter" method="POST">
     <div class="form-group">
      <input type="text" class="form-control text-round" placeholder="Name" name="name" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control text-round" placeholder="Room Name" name="room_name" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control text-round" placeholder="Key" name="key" required>
    </div>
    <input class="btn btn-block" type="submit" value="ENTER MUSIC ROOM" name="enter">
  </form><br>
  <div class="row text-center">
    <div class="col-sm-12">
    <a href="/signup" class="link-dotted">or create your own room</a>
    </div>
  </div>
</div>
<br>
<div class="container">
    <h2 class="text-center"> Instructions </h2>
    <h3>Host</h3>
    <p> If you're looking to collaborate with your pals and jam out, you're going to need somebody to host a room.
        Switch to host mode on the top right, and sign up for an account. You'll need to authorize us to make a
        playlist for you. Then, you'll be taken to your homepage and you can make a room for all your friends.
        Make sure to remember your room name and key, as they'll be necessary for your friends to join. Then,
        you'll be able to see all your rooms from your host homepage, and open them up on Spotify! </p>
    <h3>Collaborator</h3>
    <p> If you already have somebody to host, you can join a room if you know its room name and key. Choose a
        name and join! Then, you can search for songs to add to the room playlist. </p>
    <h2 class="text-center"> Have fun jamming! </p>
</div>
{% endblock content %}
