{% extends "base.html" %}

{% block content %}
<h1 class="color-shadow text-center"><b>Welcome to Jimmy Jams</b></h1>
<div class="card card-center">
  <h1 class="card-header">Start Jamming</h1>
  <form action="/enter" method="POST">
    <div class="form-group">
      <input type="text" class="form-control text-round" placeholder="Room Name" name="room_name" required>
    </div>
      <div class="form-group">
      <input type="text" class="form-control text-round" placeholder="Name" name="name" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control text-round" placeholder="Key" name="key" required>
    </div>
    <input class="btn btn-block" type="submit" value="ENTER MUSIC ROOM" name="enter">
  </form><br>
  <div class="row text-center">
    <div class="col-sm-12">
    <a href="/signup" class="link-dotted">or create your own room</a>
    </div>
  </div>
</div>
{% endblock content %}
