{% extends "host.html" %}



{% block content %}

<h2 class="text-align">Your Rooms</h2>

<a class="btn btn-block-yellow" href="/room_form">Create New Room</a>
{% for room in rooms %}
<div class="card card-stack">
  <h3 style="text-align: left;"><!--Room name--></h3>
  <span style="float: right;">
    <form action=<!--unsyer--> method="POST">
      <input type="hidden" name="room" value=<!-- room -->>
      <a class="btn" href=<!--link-->>View Playlist</a>
       <input class="btn" type="submit" value="View Playlist" name="view_playlist">
   </form>
  </span>
</div>
{% endfor %}
{% endblock content %}
