<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Jimmy Jams</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
	<h2>Jimmy Jams&nbsp;&nbsp;<small>brought to you by xx4</small></h2>
      </div>
    </div>
  </body>
  </html>
