{% extends "base.html" %}

{% block bodyclass %}
{% if logged_in %}
bg-white
{% else %}
bg-navy
{% endif %}
{% endblock bodyclass %}

{% block right_nav %}
{% if logged_in %}
	  <li class="nav-item space">
	    <div class="dropdown">
	      <button class="dropdown-toggle btn btn-block" style="width:200px" type="button" data-toggle="dropdown"><b>HOST MODE</b>
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li class="text-center" style="width:200px"><a href="/logout"><b>COLLABORATOR MODE</b></a></li>

{% else %}
<li class="nav-item space">
	    <div class="dropdown">
	      <button class="dropdown-toggle btn btn-block-yellow" style="width:200px" type="button" data-toggle="dropdown"><b>COLLABORATOR MODE</b>
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li class="text-center" style="width:200px"><a href="/signup"><b>HOST MODE</b></a></li>
  
{% endif %}
{% if logged_in %}
	<li class="text-center" style="width:200px"><a href="/logout"><b>LOG OUT</b></a></li>
{% endif %}
	  </ul>
</div>
</li>
{% endblock right_nav %}

{% block content %}
<div class="text-center">
  <h1 class="text-center">{{ room_name }}</h1>

  {% if logged_in %}
  <form action={{ link }}><input class="btn btn-block-yellow" type="submit" value="View the Spotify Playlist"></form>
  {% else %}
<div class="card card-center">
  <form action="/find_track" method="POST">
    <div class="form-group">
      <input type="text" class="form-control text-round" placeholder="Search a song" name="song_name" required>
    </div>
    <input class="btn btn-block" type="submit" value="SEARCH" name="search_song">
  </form><br>
</div>
 {% endif %}
<!--{% for song in song_list %}
<div class="card card-stack">
  <h3 style="text-align: left;">{{song[0]}} by {{song[1]}} added by {{song[2]}}</h3>
</div>

{% endfor %}-->
<div id="songs">
</div>
<br><br><br>
{% if logged_in %}
<a href="/home_logged" class="link-dotted">return to profile</a>
{% else %}
<a href="/" class="link-dotted">enter new room</a>
{% endif %}




{% endblock content %}

{% block script %}
<script type="text/javascript" src="../static/js/main.js"></script>
{% endblock script %}
