{% extends "host.html" %}

{% block content %}
<div class="card card-center">

  <h1 class="card-header">CREATE A ROOM</h1>
  <form action="/create_room" method="POST">

    <div class="form-group">
      <input type="text" class="form-control text-round" placeholder="Name of Room" name="name" required>
    </div>
      <div class="form-group">
      <input type="text" class="form-control text-round" placeholder="Room Key" name="key" required>
    </div>
    <input class="btn btn-block" type="submit" value="CREATE" name="create">
  </form><br>
  <div class="row">
    <div class="col-sm-6 text-left"></div>
    <div class="col-sm-6 text-right"><a href="/" class="link-dotted">or exit host console</a></div>
  </div>
</div>
{% endblock content%}
