{% extends "base.html" %}

{% block bodyclass %} bg-white {% endblock bodyclass %}

{% block right_nav %}
<li class="nav-item space"><b>HOST CONSOLE</b></li>
{% endblock right_nav %}

{% block content %}
<div class="card card-center">

  <h1 class="card-header">Welcome Back</h1>
  <form action="/auth" method="POST">

    <div class="form-group">
      <input type="text" class="form-control text-round" placeholder="Username" name="username" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control text-round" placeholder="Password" name="password" required>
    </div>
    <input class="btn btn-block" type="submit" value="LOGIN" name="login">
  </form><br>
  <p>
    <a href="/signup" class="link-dotted">sign up here</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/test" class="link-dotted">enter a room</a>
  </p>
</div>
{% endblock content%}
